<ul class="footer-ul">
    <li class="footer-li"><a href="/">Home</a></li>
    <li class="footer-li"><a href="/math">Math</a></li>
    <li class="footer-li"><a href="/profile">Profile</a></li>
    <li class="footer-li"><a href="/slide-show">Slide Show</a></li>
    <li class="menu-li"><a href="/game">Game</a></li>
    <li class="footer-li"><a href="/terms">Terms And Conditions</a></li>
    <li class="footer-li"><a href="/policy">Privacy Policy</a></li>
</ul>