<ul class="footer">
    <a href="/">Home</a>
    <a href="/math">Math</a>
    <a href="/profile">Profile</a>
    <a href="/slide-show">Slide Show</a>
    <a href="/game">Game</a>
    <a href="/terms">Terms And Conditions</a>
    <a href="/policy">Privacy Policy</a>
</ul>