<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="css/project.css">
</head>
<body>
    <%- include ('layouts/menu') -%>
    <main>
        <h1>Game</h1>
        <p>"Bozo"</p>
       

            
        
        <script src="js/game.js"></script>
    </main> 
    <%- include ('layouts/footer') -%> 
</body>
</html>