<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fishing Slide Show</title>
    <link rel="stylesheet" href="css/project.css">
</head>
<body class = "body">
    <div style="background-color:#e5e5e5;padding:15px;text-align:center;">
        <h1>Smart Home</h1>
      </div>
    <%- include ('layouts/menu') -%>
    <main class = "main">
        <h1>Neat Cars</h1>

        
    

        <div class="slider">
            <div class="img-box">
                <div class="square">
                    <img src="images/bmw.jpg" alt="" class="slider-img" />
                </div>
                
            </div>

            
            
            <button class="leftbtn" onClick="prev()">Prev</button>
            <button class="rightbtn" onClick="next()">Next</button>
        </div>
    
        

        <script src="js/slide-show.js"></script>
    </main> 
    <%- include ('layouts/footer') -%> 
</body>
</html>