<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terms And Conditions</title>
    <link rel="stylesheet" href="css/project.css">
</head>
<body>
    <%- include ('layouts/menu') -%>
    <main>
        <h1>Terms And Conditions</h1>
        <p class = "terms">
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
            Integer iaculis nunc sapien, vel dictum odio tempor pulvinar.
            Mauris faucibus, velit a sagittis consequat, diam erat pulvinar
            est, sit amet dictum dolor nunc a arcu. Vestibulum pretium sem 
            id laoreet egestas. Mauris aliquam libero accumsan commodo sodales. 
            Morbi id vehicula magna. Cras ultricies turpis id tincidunt rhoncus. 
            Ut euismod eros et elementum consectetur. Nulla eu eros ac tellus cursus 
            varius in et leo. Mauris consectetur lectus in pulvinar convallis. Sed 
            diam enim, blandit vel egestas id, placerat quis dolor. Curabitur nisi 
            ligula, condimentum et nisi eget, rutrum placerat tortor. Fusce tristique 
            orci nisi, vel facilisis ex iaculis vitae. Sed urna tortor, gravida quis 
            dapibus at, tempor quis lacus. Duis consequat viverra condimentum.
        
        
        </p>   
        
        <script src="js/slide-show.js"></script>
    </main> 
    <%- include ('layouts/footer') -%> 
</body>
</html>