/*
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,9,117,1) 13%, rgba(53,7,140,0) 50%, rgba(58,6,162,1) 87%, rgba(2,0,36,1) 100%);
    margin: 0 auto;
    width: auto;
    font-size: x-large;
    padding: 0 2em 1em;
    text-align: center;
    
    
}
h1 {
    color: rgb(177, 69, 69);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
	
	
}
div {
    margin-bottom: .5em;
}
label {
    display: inline-block;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-right: 0.5em;
}

span {
    color:black;
    font-size: 12px;

}
 
#main_image{
    width: 1000px;
    display: block;
    margin: 0 auto;
}

#image_list {
    width: 800px
}

.error-span {
    color: red;
}

.current-setting{
    font-weight: bold;
}

label {
    font-size: 20px;
}

select {
    margin-left: 1em;
    margin-right: 0.5em;
    width: 11em;
}

button {
    margin-left: 1.5em;
    width: 11em;
}


h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
}

p {
    text-align: center;
}

span {
    font-size: 20px;
}

#image_list{
    display: none;
}

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}
  
.menu-li {
    float: left;
}
  
.menu-li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
  
  
.menu-li a:hover {
    background-color: cornflowerblue;
}

  .hidden{
    display: none;
}

.footer-basic {
    
    padding:40px 0;
    background-color:#ffffff;
    color:#4e4f50;
    
    
}
  
.footer-ul {
    
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    display: flex;
    justify-content:space-around
    
}
  
.footer-li {
    padding:0 10px;
    text-align: center;
    align-items: center;
    
    
}
  
.footer-ul a {
    color:rgb(255, 255, 255);
    text-decoration:none;
    opacity:0.8;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 30px;
    
	text-shadow: 0px 1px 4px #000000;
}
  


.slider{
    margin:50px auto;
    width: 50%;
}
  
.img-box img{
    width:100%
    
}


.rightbtn{
    border: none;
    outline: none;
    background:#888;
    padding:10px 30px;
    font-size:20px;
    color:#ddd;
    cursor: pointer;
    margin: 10px auto;
    
}

.leftbtn{
    border: none;
    outline: none;
    background:#888;
    padding:10px 30px;
    font-size:20px;
    color:#ddd;
    cursor: pointer;
    margin: 10px auto;
    
}

.leftbtn:hover {
    background: #111;
}

.rightbtn:hover {
    background: #111;
}






.policy,
.terms {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    border: 3px solid rgb(57, 62, 70);
    padding: 0 2em 1em;
    text-align: center;
}




.square {
    height: auto;
    max-width: 100%;
    border-color: #6F432A #98633B;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  * {
    box-sizing: border-box;
  }
  :root {
    --background-color: none;
    --text-color: hsl(0, 0%, 0%);
  }
  body {
    margin: 0;
  }
  .wrapper {
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    min-height: 100px;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1.5rem, 1rem + 9vw, 8rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .wrapper > div {
    grid-area: 1/1/-1/-1;
  }
  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, rgb(111, 23, 170) 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, rgb(75, 14, 104) 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }
   



  button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #ff00dd;
  }
  button:hover span {
    padding-right: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  }


  .container {
    display: flex;
    align-content: space-evenly;
  }

 */
 
 * {
    box-sizing: border-box;
  }
  
  .menu {
    float: left;
    width: 20%;
    text-align: center;
    padding-right: 35px;
    
  }
  
  .menu a {
    background-color: #9adfe6;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    border-radius: 20%;
    
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 5%;
    text-align: center;
    background-color: #bdc3c7;
    font-size: 2vh;
  }
  
  .right {
    background-color: #9adfe6;
    float: right;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    border-radius: 20%;
  }

  .footer {
    text-align: center;
    width: 100%;
    
    left: 0;
    bottom: 0;
    
    padding-right: 35px;
    flex-wrap: wrap;
    
    background-color: none;
  }
  .footer a {
    background-color: none;
    
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
    
    
    
  }

  
  

  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  .policy,
.terms {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    border: 3px solid rgb(57, 62, 70);
    padding: 0 2em 1em;
    text-align: center;
}

.slider{
  margin:50px auto;
  width: 70%;
}

.img-box img{
  width:100%
  
}


.rightbtn{
  border: none;
  outline: none;
  background:#888;
  padding:10px 30px;
  font-size:20px;
  color:#ddd;
  cursor: pointer;
  margin: 10px auto;
  
}

.leftbtn{
  border: none;
  outline: none;
  background:#888;
  padding:10px 30px;
  font-size:20px;
  color:#ddd;
  cursor: pointer;
  margin: 10px auto;
  
}

.leftbtn:hover {
  background: #111;
}

.rightbtn:hover {
  background: #111;
}

.square {
  height: auto;
  max-width: 100%;
  border-color: #6F432A #98633B;
  border-image: none;
  border-radius: 0 0 0 0;
  border-style: solid;
  border-width: 30px;
  margin-left: auto;
  margin-right: auto;
}

#main_image{
  width: 1000px;
  display: block;
  margin: 0 auto;
}




.spacing {
  padding-top: 4%;
}


.main2{
  display: flex;
  width: 50vw;
  height: 50vw;
  
 align-items: center;
 margin: 0 auto;
}
.row1{
border: 1px solid black;
width: 33%;
height: 100%;
margin: 0 auto;
}

.col1{
border: 1px solid black;
height: calc(33%);
text-align: center;
font-size: 10vw;

}

.col1hover:hover{
background-color: aqua;
}

.body{
  
background: linear-gradient(90deg, rgba(44,62,80,1) 0%, rgba(189,195,199,1) 20%, rgba(189,195,199,1) 80%, rgba(44,62,80,1) 100%);
}


.title{
  padding-top: 2%;
  padding-bottom: 2%;
  font-family:Georgia, 'Times New Roman', Times, serif
}